---
- name: Ensure dirmngr is installed (gnupg dependency).
  apt:
    name: dirmngr
    state: present

- name: Add ansible repository.
  apt_repository: repo='ppa:ansible/ansible'

- name: Update apt cache.
  apt: update_cache=true cache_valid_time=86400

- name: Install Ansible.
  apt:
    name: ansible
    state: "{{ ansible_package_state }}"
